.form {
    width: 300px;
    min-width: 300px;
    height: 588px;
    float:  left;
    background-color: #EAF4D9;
    font-size:  12px;
    padding-top: 1em;
    padding-left: 1em;
    border: solid 1px;
}
.doc {
    text-wrap: normal;
    width: 540px;
    min-width: 540px;
    height: 600px;
    float:  left;
    vertical-align: top;
    background-color: #EFEFEF;
    font-size:  12px;
    overflow:  auto;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px;
    border-left: none;

}
.ruby {
    font-size: 12px;
    font-family: monospace;
    color: white;
    background: black;
    padding: 0.1em 0 0.2em 0;
}
p.hidden {
    display: none;
}
p.errorMessage {
    color: red;
    margin: 5px 0px 0px 0px;
}
