.example {
    height: 620px;
    width: 920px;
    min-width: 920px;
    vertical-align: top;
    border: none;
}
.koan {
    width: 920px;
    min-width: 920px;
    height:  9999px;
    float: none;
    border: none;
}