.form {
    width: 425px;
    min-width: 425px;
    height: 600px;
    float:  left;
    background-color: #EAF4D9;
    font-size:  12px;
}
.doc {
    text-wrap: normal;
    width: 425px;
    min-width: 400px;
    height: 600px;
    float:  left;
    vertical-align: top;
    background-color: #EFEFEF;
    border-left: 0px;
    font-size:  12px;
    overflow:  auto;

}
.ruby {
    font-size: 12px;
    font-family: monospace;
    color: white;
    background: black;
    padding: 0.1em 0 0.2em 0;
}
